<a href="https://colab.research.google.com/github/TranThiDieuHien/pythonbasics/blob/master/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [27]:
import pandas as pd
import random

sers = []
for i in range(15): #15 phần tử
    a = random.randrange(-100, 100)
    sers.append(a)

print(pd.Series(sers))

0    -84
1    -73
2     -8
3    -31
4     42
5     70
6      2
7     -5
8     -3
9     61
10   -97
11    36
12    56
13    92
14    -1
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [ ]:
data = {"Hien" : 1, "Tham" : 2, "Thanh" : 3, "Duy" : 4, "Ngan" : 5, "Uyen" : 6}
D = pd.Series(data, index = ["Hien", "Tham", "Thanh", "Duy", "Ngan", "Uyen"])
print(D)

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [74]:
ser = pd.Series(sers, index = ["AB12", "C23", "GD34", "DE45", "EF56",
                            "FG45", "GH45", "HI23", "IK12", "KL12",
                            "LM12", "MN23", "FO23", "GP34", "GQ34"])
print(ser)

AB12   -84
C23    -73
GD34    -8
DE45   -31
EF56    42
FG45    70
GH45     2
HI23    -5
IK12    -3
KL12    61
LM12   -97
MN23    36
FO23    56
GP34    92
GQ34    -1
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [ ]:
print(D[4])

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [ ]:
print(ser["A"], ser["F"], ser["O"], ser["P"])

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [75]:
print(ser[[name.endswith("3") or name.startswith("G") for name in ser.index]])

C23    -73
GD34    -8
GH45     2
HI23    -5
MN23    36
FO23    56
GP34    92
GQ34    -1
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [ ]:
ser.index.name = "STT"
ser.name = "Gia_Tri"
print(ser)

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [81]:
import numpy as np

np.log(ser)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

STT
AB12         NaN
C23          NaN
GD34         NaN
DE45         NaN
EF56    3.737670
FG45    4.248495
GH45    0.693147
HI23         NaN
IK12         NaN
KL12    4.110874
LM12         NaN
MN23    3.583519
FO23    4.025352
GP34    4.521789
GQ34         NaN
Name: Gia_Tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [82]:
print(ser[1:15])

STT
C23    -73
GD34    -8
DE45   -31
EF56    42
FG45    70
GH45     2
HI23    -5
IK12    -3
KL12    61
LM12   -97
MN23    36
FO23    56
GP34    92
GQ34    -1
Name: Gia_Tri, dtype: int64