<a href="https://colab.research.google.com/github/TranThiDieuHien/pythonbasics/blob/master/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [83]:
import pandas as pd
import random

sers = []
for i in range(15): #15 phần tử
    a = random.randrange(-100, 100)
    sers.append(a)

print(pd.Series(sers))

0     48
1     32
2    -28
3     61
4     87
5     59
6     58
7      1
8    -26
9    -89
10    25
11    73
12    43
13   -87
14   -37
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [84]:
data = {"Hien" : 1, "Tham" : 2, "Thanh" : 3, "Duy" : 4, "Ngan" : 5, "Uyen" : 6}
D = pd.Series(data, index = ["Hien", "Tham", "Thanh", "Duy", "Ngan", "Uyen"])
print(D)

Hien     1
Tham     2
Thanh    3
Duy      4
Ngan     5
Uyen     6
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [85]:
ser = pd.Series(sers, index = ["AB12", "C23", "GD34", "DE45", "EF56",
                            "FG45", "GH45", "HI23", "IK12", "KL12",
                            "LM12", "MN23", "FO23", "GP34", "GQ34"])
print(ser)

AB12    48
C23     32
GD34   -28
DE45    61
EF56    87
FG45    59
GH45    58
HI23     1
IK12   -26
KL12   -89
LM12    25
MN23    73
FO23    43
GP34   -87
GQ34   -37
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [86]:
print(D[4])

5

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [88]:
print(ser["AB12"], ser["FO23"], ser["KL12"], ser["FG45"])

48 43 -89 59

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [89]:
print(ser[[name.endswith("3") or name.startswith("G") for name in ser.index]])

C23     32
GD34   -28
GH45    58
HI23     1
MN23    73
FO23    43
GP34   -87
GQ34   -37
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [90]:
ser.index.name = "STT"
ser.name = "Gia_Tri"
print(ser)

STT
AB12    48
C23     32
GD34   -28
DE45    61
EF56    87
FG45    59
GH45    58
HI23     1
IK12   -26
KL12   -89
LM12    25
MN23    73
FO23    43
GP34   -87
GQ34   -37
Name: Gia_Tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [91]:
import numpy as np

np.log(ser)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

STT
AB12    3.871201
C23     3.465736
GD34         NaN
DE45    4.110874
EF56    4.465908
FG45    4.077537
GH45    4.060443
HI23    0.000000
IK12         NaN
KL12         NaN
LM12    3.218876
MN23    4.290459
FO23    3.761200
GP34         NaN
GQ34         NaN
Name: Gia_Tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [92]:
print(ser[1:15])

STT
C23     32
GD34   -28
DE45    61
EF56    87
FG45    59
GH45    58
HI23     1
IK12   -26
KL12   -89
LM12    25
MN23    73
FO23    43
GP34   -87
GQ34   -37
Name: Gia_Tri, dtype: int64