<a href="https://colab.research.google.com/github/TranThiDieuHien/pythonbasics/blob/master/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [27]:
import pandas as pd
import random

sers = []
for i in range(15): #15 phần tử
    a = random.randrange(-100, 100)
    sers.append(a)

s = pd.Series(sers)
print(s)

0      6
1     78
2    -97
3    -80
4     72
5    -49
6     14
7     93
8    -80
9     51
10    -3
11   -15
12   -30
13    82
14     7
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [28]:
data = {"Hien" : 1, "Tham" : 2, "Thanh" : 3, "Duy" : 4, "Ngan" : 5, "Uyen" : 6}
D = pd.Series(data, index = ["Hien", "Tham", "Thanh", "Duy", "Ngan", "Uyen"])
print(D)

Hien     1
Tham     2
Thanh    3
Duy      4
Ngan     5
Uyen     6
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [38]:
ser = pd.Series(sers, index = ["AB12", "C23", "GD34", "DE45", "EF56",
                            "FG45", "GH45", "HI23", "IK12", "KL12",
                            "LM12", "MN23", "FO23", "GP34", "GQ34"])
print(ser)

AB12     6
C23     78
GD34   -97
DE45   -80
EF56    72
FG45   -49
GH45    14
HI23    93
IK12   -80
KL12    51
LM12    -3
MN23   -15
FO23   -30
GP34    82
GQ34     7
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [30]:
print(D[4])

5

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [31]:
print(ser["AB12"], ser["FO23"], ser["KL12"], ser["FG45"])

6 -30 51 -49

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [32]:
print(ser[[name.endswith("3") or name.startswith("G") for name in ser.index]])

C23     78
GD34   -97
GH45    14
HI23    93
MN23   -15
FO23   -30
GP34    82
GQ34     7
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [33]:
s.index.name = "STT"
s.name = "Gia_Tri"
print(s)

STT
0      6
1     78
2    -97
3    -80
4     72
5    -49
6     14
7     93
8    -80
9     51
10    -3
11   -15
12   -30
13    82
14     7
Name: Gia_Tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [34]:
import numpy as np

np.log(s)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

STT
0     1.791759
1     4.356709
2          NaN
3          NaN
4     4.276666
5          NaN
6     2.639057
7     4.532599
8          NaN
9     3.931826
10         NaN
11         NaN
12         NaN
13    4.406719
14    1.945910
Name: Gia_Tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [50]:
se = []      #Để chứa các giá trị của series 1 > 15
for row in s:
    if row > 15:
        se.append(row)    #Thêm các giá trị của series 1 > 15 vào 

srs = pd.Series(se)
print(srs)

0    78
1    72
2    93
3    51
4    82
dtype: int64